<!-- Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT License. -->
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="views/styles.css">
    <script src="/CUI.js" type="text/javascript"></script>


</head>

<body>
    <header>
        <div class="header"><h1><strong>CUI Marking Tool V0.1.0</strong></h1></div>
        <hr>
    </header>
    <section>
        <div>
            <img id="logo" src="views/assets/CUI_Logo.png" width="200">
        </div>
        <div class="center link">
            <span>What is CUI?:</span>
            <a href="https://www.google.com">CUI Handbook</a>
        </div>
        <div class="center link">
            <span>App Feedback:</span>
            <a href="mailto:sean.brady.9@us.af.mil">sean.brady.9@us.af.mil</a>
        </div>
        <div class="center">
            <button class="btn", id="cuiButton", onclick="buildCUIMarkings();"><strong>Add CUI Markings</strong></button> <!--Controls Text in button-->
            <button class="btn", id="piiButton", onclick="PII()"><strong>Add PII Markings</strong></button> <!--Controls Text in button-->
        </div>
    </section>
    
</body>
</html>