*:not(hr,.header) {
    padding: 10px;
}
.header {
    color: #038cfc;
    text-align: center;
    font-size: 30px;
}

.btn {
    border:none;
    color: #FFFFFF; /* White */
    background-color: #7f0099;/* Green */
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    font-size: x-large;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}